@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

$imageIds: '1517021897933-0e0319cfbc28', '1533903345306-15d1c30952de', '1545243424-0ce743321e11', '1531306728370-e2ebd9d7bb99';

$bp-md: 600px;
$bp-lg: 800px;

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Rubik', sans-serif;
}

* {
  box-sizing: border-box;
}

.page-content {
  // display: grid;
  // grid-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center; 
  padding: 1rem;
  // max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
  
  @media (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {  
  position: relative;
  // min-width: 20em;
  max-width: 25em;
  flex: 1 0 auto;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);

    
  @media (min-width: $bp-md) {
    height: 350px;

    // .copy {
    //   font-size: .64rem;
    //   margin-bottom: 180px;
    // }
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  
  // &:after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 200%;
  //   pointer-events: none;
  //   background-image: linear-gradient(
  //     to bottom,
  //     hsla(0, 0%, 0%, 0) 0%,
  //     hsla(0, 0%, 0%, 0.009) 11.7%,
  //     hsla(0, 0%, 0%, 0.034) 22.1%,
  //     hsla(0, 0%, 0%, 0.072) 31.2%,
  //     hsla(0, 0%, 0%, 0.123) 39.4%,
  //     hsla(0, 0%, 0%, 0.182) 46.6%,
  //     hsla(0, 0%, 0%, 0.249) 53.1%,
  //     hsla(0, 0%, 0%, 0.320) 58.9%,
  //     hsla(0, 0%, 0%, 0.394) 64.3%,
  //     hsla(0, 0%, 0%, 0.468) 69.3%,
  //     hsla(0, 0%, 0%, 0.540) 74.1%,
  //     hsla(0, 0%, 0%, 0.607) 78.8%,
  //     hsla(0, 0%, 0%, 0.668) 83.6%,
  //     hsla(0, 0%, 0%, 0.721) 88.7%,
  //     hsla(0, 0%, 0%, 0.762) 94.1%,
  //     hsla(0, 0%, 0%, 0.790) 100%
  //   );
  //   transform: translateY(-50%);
  //   transition: transform calc(var(--d) * 2) var(--e);
  // }
  
  @each $id in $imageIds {
    $i: index($imageIds, $id);
    
    &:nth-child(#{$i}):before {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1314%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1315%26quot%3b)'%3e%3c/rect%3e%3cpath d='M118 1000L1118 0L1907 0L907 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1316%26quot%3b)'%3e%3c/path%3e%3cpath d='M1346 1000L346 0L-1025 0L-25 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1317%26quot%3b)'%3e%3c/path%3e%3cpath d='M663.8942375129574 1000L1440 223.89423751295737L1440 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1316%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 1000L776.1057624870426 1000L 0 223.89423751295737z' fill='url(%26quot%3b%23SvgjsLinearGradient1317%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1314'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='0%25' r='1232.23' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1315'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(43%2c 38%2c 73%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1316'%3e%3cstop stop-color='rgba(28%2c 25%2c 45%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(28%2c 25%2c 45%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1317'%3e%3cstop stop-color='rgba(28%2c 25%2c 45%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(28%2c 25%2c 45%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    }
  }
}

.content {
  overflow: hidden;
  // position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  
  > * + * {
    margin-top: -4rem;
  }
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
  color: whitesmoke;
}

.text {
  display: block;
  opacity: 1;
  // transition: opacity var(--d) var(--e), transform var(--d) var(--e); 
  margin: 15px;
}

.copy {
  font-family: var(--font-serif);
  font-size: .89rem;
  line-height: 1.35;
  margin-top: -130px;
}

.card:hover .title, .card:hover .text {
  opacity: 0; 
  transform: translateY(-20%); 
}

.card:hover .copy {
  opacity: 1; 
  transform: translateY(0); 
}

@media (max-width: $bp-md) {
  .card {
    align-items: flex-start;
    .content {
      transform: none; 
    }
    .title {
      margin-bottom: 10px; 
    }
    .title, .text {
      opacity: 1; 
      transform: translateY(0); 
      transition: none; 
    }
    .copy {
      display: none; 
    }
  }

  .card:hover, .card:focus-within {
    .title {
      margin-bottom: 10px; 
    }
    .copy {
      display: block; 
      opacity: 1; 
      transition: opacity var(--d) var(--e); 
    }
  }
}

@media (hover: hover) and (min-width: $bp-md) {
  .card:after {
    transform: translateY(0);
  }
  
  .content {
    transform: translateY(calc(100% - 20rem));
    
    > *:not(.title, .text) {
      opacity: 0;
      transform: translateY(1rem);
      transition:
        transform var(--d) var(--e),
        opacity var(--d) var(--e);
    }
  }
  
  .card:hover,
  .card:focus-within {
    align-items: center;

    &:before { transform: translateY(-4%); }
    &:after { transform: translateY(-50%); }

    .content {
      transform: translateY(0);

      > *:not(.title, .text) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
      }
    }
  }
  
  .card:focus-within {
    &:before,
    &:after,
    .content,
    .content > *:not(.title, .text) {
      transition-duration: 0s;
    }
  }
}
