@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');

.navbar a {
    color: #e8341f;
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
}

.navbar {
    background: #1c192d;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Ensure navbar is positioned for z-index to take effect */
    z-index: 1000;
  }
  
  .menu-items {
    display: flex;
    gap: 20px;
    float: right;
    padding: 20px;
    grid-template-columns: repeat(5, auto);
    z-index: 1001;
  }
  
  /* .menu-items.open {
    display: flex;
  } */
  
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    height: 30px;;
    cursor: pointer;
    background-color: #48474d;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #e8341f;
  }
  
  @media (max-width: 768px) {
    .menu-items {
      position: absolute; /* Changed from absolute to fixed for full screen overlay */
      top: 0; /* Adjusted to top for full height */
      right: 0; 
      width: 95%; 
      flex-direction: column;
      background-color: #1c192d;
      padding-top: 60px; 
      display: none;
      z-index: 1001; 
    }
  
    .menu-items.open {
      display: flex;
    }
  
    .hamburger {
      display: flex;
      z-index: 1002; /* Above the menu */
    }
  }
  